<!DOCTYPE html>
<html ng-app="CarpentryApp" ng-controller="CarpentryMainCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Continuous integration for the people">
    <meta name="author" content="Gabriel Falcao">
    <title>Carpentry</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ absolute_url('assets/img/apple-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ absolute_url('assets/img/apple-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ absolute_url('assets/img/apple-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ absolute_url('assets/img/apple-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ absolute_url('assets/img/apple-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ absolute_url('assets/img/apple-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ absolute_url('assets/img/apple-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ absolute_url('assets/img/apple-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url('assets/img/apple-icon-180x180.png') }}" />
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ absolute_url('assets/img/android-icon-192x192.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url('assets/img/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ absolute_url('assets/img/favicon-96x96.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url('assets/img/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ absolute_url('assets/img/manifest.json') }}" />
    <link rel="manifest" href="{{ absolute_url('assets/vendor/angucomplete-alt/dist/angucomplete-alt.min.css') }}?_carpentry_asset_cache={{ cache_flag }}" />

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ absolute_url('assets/img/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ absolute_url('assets/vendor/bootswatch/yeti/bootstrap.min.css') }}?_carpentry_asset_cache={{ cache_flag }}">
    <link rel="stylesheet" href="{{ absolute_url('assets/vendor/font-awesome/css/font-awesome.min.css') }}?_carpentry_asset_cache={{ cache_flag }}">
    <link href="{{ absolute_url('assets/vendor/angular-notify/angular-notify.css') }}?_carpentry_asset_cache={{ cache_flag }}" rel="stylesheet">
    <link href="{{ absolute_url('assets/vendor/angular-hotkeys/build/hotkeys.min.css') }}?_carpentry_asset_cache={{ cache_flag }}" rel="stylesheet">
    <link href="{{ absolute_url('assets/vendor/angular-loading-bar/build/loading-bar.min.css') }}?_carpentry_asset_cache={{ cache_flag }}" rel="stylesheet">
    <link href="{{ absolute_url('assets/css/fullscreen.css') }}?_carpentry_asset_cache={{ cache_flag }}" rel="stylesheet">
    <link href="{{ absolute_url('assets/css/carpentry.css') }}?_carpentry_asset_cache={{ cache_flag }}" rel="stylesheet">
    <link href="{{ absolute_url('assets/css/ansi.css') }}?_carpentry_asset_cache={{ cache_flag }}" rel="stylesheet">

    <script type="text/javascript" src="{{ absolute_url('assets/vendor/jquery/dist/jquery.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular/angular.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-ui-router/release/angular-ui-router.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-cookies/angular-cookies.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-hotkeys/build/hotkeys.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-notify/angular-notify.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-scroll-glue/src/scrollglue.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-loading-bar/build/loading-bar.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-bootstrap/ui-bootstrap.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>
    <script type="text/javascript" src="{{ absolute_url('assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js') }}?_carpentry_asset_cache={{ cache_flag }}"></script>

    <script type="text/javascript">
    (function(container){
      container.CARPENTRY_TOKEN = "{{ user_token }}";
    })(window);
    </script>
  </head>
{% block body %}
  <body>
    <div ui-view></div>
    <script src="/app.js"></script>
  </body>
{% endblock %}
</html>
