<navbar />
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="buttons">Latest builds</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>#</th>
            <th>Last author</th>
            <th>Last commit</th>
            <th>Last branch</th>
            <th>Build Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success">
            <td><strong>Sure</strong></td>
            <th scope="row">1</th>
            <td>Gabriel Falcao &lt;gabriel@nacaolivre.org&gt;</td>
            <td>f3efab0dcd6d1a3d0effa600267b7aaf6856928f</td>
            <td>master</td>
            <td>
              <button class="btn btn-xs btn-success">
<span class="glyphicon glyphicon-console" aria-hidden="true"></span>
build output</button>
            </td>
          </tr>
          <tr class="danger">
            <td><strong>HTTPretty</strong></td>
            <th scope="row">1</th>
            <td>Gabriel Falcao &lt;gabriel@nacaolivre.org&gt;</td>
            <td>f3efab0dcd6d1a3d0effa600267b7aaf6856928f</td>
            <td>master</td>
            <td>
              <button class="btn btn-xs btn-danger">
<span class="glyphicon glyphicon-console" aria-hidden="true"></span>
error output</button>
              <button class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                rebuild</button>
                                <br />
                <button class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
notify Gabriel</button>
              <button class="btn btn-xs btn-default">

<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
notify team</button>


            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
