<navbar />
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="buttons">Latest builds
          <button ng-click="go('/fullscreen')" class="btn btn-s btn-info">Full Screen</button>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>Builder name</th>
            <th>#</th>
            <th>author</th>
            <th>commit</th>
            <th>branch</th>
            <th>status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody ng-repeat="builder in builders">
          <tr ng-class="builder.css_status">
            <td><strong>
              <a ng-href="#/builder/{{builder.id}}">{{ builder.name }}</a></strong></td>
              <th class="ng-cloak" ng-hide="!builder.last_build" scope="row">{{ builder.last_build.number }}</th>
              <td class="ng-cloak" ng-hide="!builder.last_build">{{ builder.last_build.author_name }} &lt;{{ builder.last_build.author_email }}&gt;</td>
              <td class="ng-cloak" ng-hide="!builder.last_build">
                <a ng-href="#/builder/{{builder.id}}/build/{{builder.last_build.id}}">{{ builder.last_build.commit }}</a>
              </td>
              <td class="ng-cloak" ng-hide="!builder.last_build">{{ builder.last_build.branch }}</td>
              <td class="ng-cloak" ng-hide="!builder.last_build">{{ builder.last_build.status }}</td>
              <td colspan="4" class="ng-cloak" ng-show="!builder.last_build"></td>
              <td class="ng-cloak" ng-show="!builder.last_build">
                No builds so far
              </td>
              <td>
                <button class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="go('/builder/' + builder.id)">
                  <i class="fa fa-cog"></i>
                </button>
                <button class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="go('/builder/' + builder.id + '/edit')">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="triggerBuild(builder, true)">
                  <i class="fa fa-play-circle"></i></button>
                  <button ng-if="builder.last_build" class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="go('/builder/' + builder.id + '/build/' + builder.last_build.id)">
                    <i class="fa fa-desktop"></i></button>
              </td>
          </tr>
        </tbody>
        <tfoot ng-show="builders">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <strong>Labels:</strong>
              <br />
              <i class="fa fa-play-circle"></i> build now <br />
              <i class="fa fa-desktop"></i> console output <br />
              <i class="fa fa-refresh"></i> retry build <br />
              <i class="fa fa-envelope-o"></i> notify commit author <br />
              <i class="fa fa-bullhorn"></i> notify team <br />
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
