<navbar />
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="buttons">Latest builds
          <button ng-click="go('/fullscreen')" class="btn btn-s btn-info">Full Screen</button>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>Builder name</th>
            <th>#</th>
            <th>author</th>
            <th>commit</th>
            <th>branch</th>
            <th>status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody ng-repeat="builder in builders">
          <tr ng-class="builder.css_status">
            <td><strong>
              <a ng-href="#builder/{{builder.id}}">{{ builder.name }}</a></strong></td>
              <th scope="row">{{ builder.last_build.number }}</th>
              <td>{{ builder.last_build.author_name }} &lt;{{ builder.last_build.author_email }}&gt;</td>
              <td>
                <a ng-href="#builder/{{builder.id}}/build/{{builder.last_build.id}}">{{ builder.last_build.commit }}</a>
              </td>
              <td>{{ builder.last_build.branch }}</td>
              <td>{{ builder.last_build.status }}</td>
              <td>
                <button class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="go('/builder/' + builder.id)">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                  <button class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="triggerBuild(builder, true)">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                    <button ng-if="builder.last_build" class="btn btn-xs" ng-class="'btn-' + builder.css_status" ng-click="go('/builder/' + builder.id + '/build/' + builder.last_build.id)">
                      <span class="glyphicon glyphicon-console" aria-hidden="true"></span></button>
              </td>
          </tr>
        </tbody>
        <tfoot ng-show="builders">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <strong>Labels:</strong>
              <br />
              <span class="glyphicon glyphicon-play"></span> build now <br />
              <span class="glyphicon glyphicon-console"></span> console output <br />
              <span class="glyphicon glyphicon-refresh"></span> retry build <br />
              <span class="glyphicon glyphicon-envelope"></span> notify commit author <br />
              <span class="glyphicon glyphicon-bullhorn"></span> notify team <br />
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
