<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">


        <strong style="font-size: 24px">JACI </strong>
        <i class="fa fa-lg fa-cogs"></i>
        <span>Continuous Integration for the people</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/">Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Builders <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="builder in builders"><a ng-href="#builder/{{builder.id}}">{{ builder.name }}</a></li>
            <li><a ng-href="#new-builder">

New Builder</a></li>
          </ul>
        </li>

        <li><a ng-href="#preferences">Preferences</a></li>
        <li><a ng-href="#debug">Errors</a></li>
<!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <span class="badge" style="background-color:#e51c23;">42 alerts</span>
</a>
          <ul class="dropdown-menu" role="menu">
            <li class="bg-danger" style="font-size:20px"><a href="#">ansible <span class="glyphicon glyphicon-exclamation-sign"></span></a></li>
          </ul>
        </li>
-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.name }}
            <img ng-src="{{ user.avatar_url }}" class="ng-cloak" width="64" height="64" style="background:red"/>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Your failed builds</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
