<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><b>JACI <img src="/assets/css/jaci-icon-96.png" alt="sleep by Gustav Salomonsson from the Noun Project"  height="48" width="48" style="float: left;padding:0;margin:-14px 10px 0 0;"/></b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/">Dashboard</a></li>

        <li style="padding-top: 12px;">
          <button ng-click="go('/new-builder')" class="btn btn-s btn-primary">New Builder</button>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Builders <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">HTTPretty</a></li>
            <li><a href="#">Sure</a></li>
          </ul>
        </li>

        <li><a ng-href="#preferences">Preferences</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gabriel Falcão <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Your failed builds</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
