<navbar />
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h3 id="buttons">Create a new builder</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="builder_name_input" class="col-lg-2 control-label"><strong>project name</strong></label>
              <div class="col-lg-10">
                <input type="text" id="builder_name_input" class="form-control" ng-model="builder.name" placeholder="Builder Name"  />
              </div>
            </div>
            <div class="form-group">
              <label for="git_repository_input" class="col-lg-2 control-label"><strong>git uri</strong></label>
              <div class="col-lg-10">
                <input type="text" id="git_repository_input" class="form-control" ng-model="builder.git_uri" placeholder="git@github.com/gabrielfalcao/sure.git"  />
              </div>
            </div>
            <div class="form-group">
              <label for="shell_script" class="col-lg-2 control-label"><strong>shell script</strong></label>
              <div class="col-lg-10">
                <textarea id="shell_script" class="form-control" ng-model="builder.shell_script" rows="25" style="font-family: Monaco,monospace;font-size:12px"></textarea>
              </div>
            </div>
            <div class="form-group ng-cloak" ng-hide="builder.generate_ssh_keys">
              <label for="id_rsa_private" class="col-lg-2 control-label"><strong>id_rsa private key</strong></label>
              <div class="col-lg-10">
                <textarea id="id_rsa_private" class="form-control" ng-model="builder.id_rsa_private" rows="25" style="font-family: Monaco,monospace;font-size:12px"></textarea>
              </div>
              <label for="id_rsa_public" class="col-lg-2 control-label"><strong>id_rsa public key</strong></label>
              <div class="col-lg-10">
                <textarea id="id_rsa_public" class="form-control" ng-model="builder.id_rsa_public" rows="25" style="font-family: Monaco,monospace;font-size:12px"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="should-generate-keys" class="col-lg-2 control-label"><strong>generate ssh keys ?</strong></label>
              <div class="col-lg-10">
                <input id="should-generate-keys" type="checkbox" ng-model="builder.generate_ssh_keys" value="true" />
                <quote>
                  Uncheck this if you want to provide your own ssh keys
                </quote>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10">
                <button type="submit" ng-click="createBuilder(builder)" class="btn btn-primary">save</button>
              </div>
            </div>
          </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </div>
  </div>
