<navbar />

<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1 ng-hide="builder">loading...</h1>
        <h1>{{ builder.name }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Build History</h4>
      <table class="ng-cloak table" ng-hide="!builds">
        <thead>
          <tr>
            <th>commit</th>
            <th>author name</th>
            <th>author email</th>
            <th>status</th>
            <th>exit code</th>
            <th>created at</th>
            <th>finished at</th>
          </tr>
        </thead>
        <tbody ng-repeat="build in builds">
          <tr ng-class="build.css_status">
            <td>
              <a ng-href="#/builder/{{builder.id}}/build/{{build.id}}">
              <strong>{{ build.commit }}</strong></a></td>
            <td>{{ build.author_name }}</td>
            <td>{{ build.author_email }}</td>
            <td>{{ build.status }}</td>
            <td>{{ build.code }}</td>
            <td>{{ build.date_created }}</td>
            <td>{{ build.date_finished }}</td>
          </tr>
        </tbody>
      </table>
      <p class="ng-cloak" ng-hide="builds">No builds so far</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>Actions</h4>
      <button ng-if="builder" class="btn btn-large btn-primary" ng-click="triggerBuild(builder)">
        <i class="fa fa-play-circle"></i> build now
      </button>
      <button ng-if="builder" class="btn btn-large btn-warning" ng-click="go('/builder/'+builder.id+'/edit')">
        <i class="fa fa-pencil"></i> edit builder
      </button>
      <button ng-if="builder" class="btn btn-large btn-danger" ng-click="clearBuilds(builder)">
        <i class="fa fa-recycle"></i> clear builds
      </button>
    </div>
  </div>
</div>
<br />
<br />
<br />
