upstream jaci {
         server 127.0.0.1:5000;
}

server {
    listen 80 default;

    server_name {{ jaci_http_hostname }};
    root /srv/jaci/static;

    error_page 404 /srv/jaci/static/404.html;
    error_page 500 502 503 504 /srv/jaci/static/500.html;

    access_log /var/log/nginx/jaci-access.log;
    error_log /var/log/nginx/jaci-error.log;

    client_body_timeout 8;
    client_header_timeout 4;
    send_timeout 4;

    location / {
        proxy_set_header           Host $http_host;
        proxy_set_header           X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect             off;
        proxy_pass                 http://jaci;
    }
    location /assets {
       alias /srv/jaci/src/jaci/static;
    }
}
