description     "JACI Workers {{ item }}"

start on (started networking)

respawn
respawn limit 5 60

pre-stop exec docker stop jaci-workers-{{ item }}
pre-stop exec sleep 2
pre-stop exec docker kill -s 9 jaci-workers-{{ item }}
pre-stop exec sleep 3
pre-stop exec docker rm -f jaci-workers-{{ item }}

script
    until nc -z 127.0.0.1 9042; do
            echo "Waiting for cassandra to listen on 127.0.0.1:9042"
            sleep 10
    done

    exec docker run \
        --name jaci-workers-{{ item }} \
        --rm --net=host \
        -v /srv/jaci/builds \
        -v /srv/jaci/ssh-keys \
        -v /var/log/jaci-workers:/var/log \
        -e JACI_CASSANDRA_HOST=localhost \
        -e JACI_REDIS_HOST=localhost \
        -e JACI_GITHUB_CLIEND_ID={{ jaci_github_client_id }} \
        -e JACI_GITHUB_CLIENT_SECRET={{ jaci_github_client_secret }} \
        gabrielfalcao/jaci-web:{{ jaci_version }} jaci workers
end script
