description     "JACI WEB"

start on (started networking)

respawn
respawn limit 5 60

env JACI_HTTP_HOST=0.0.0.0
env JACI_CASSANDRA_HOST=localhost
env JACI_REDIS_HOST=localhost
env JACI_SERVER_URL={{ full_server_url }}
env JACI_GITHUB_CLIEND_ID={{ jaci_github_client_id }}
env JACI_GITHUB_CLIENT_SECRET={{ jaci_github_client_secret }}

script
    until nc -z 127.0.0.1 9042; do
            echo "Waiting for cassandra to listen on 127.0.0.1:9042"
            sleep 5
    done

    gunicorn jaci.wsgi:application --bind 0.0.0.0:{{ jaci_http_port }} --log-level debug --workers={{ jaci_web_processes }}

end script