description     "CARPENTRY WEB"

start on (started networking)

respawn
respawn limit 5 60

env CARPENTRY_HTTP_HOST=0.0.0.0
env CARPENTRY_REDIS_HOST=localhost
env CARPENTRY_SERVER_URL={{ full_server_url }}
env CARPENTRY_GITHUB_CLIEND_ID={{ carpentry_github_client_id }}
env CARPENTRY_GITHUB_CLIENT_SECRET={{ carpentry_github_client_secret }}
env PATH=/srv/carpentry/venv/bin:$PATH
env PYTHONPATH=/srv/carpentry/venv/lib/python2.7/site-packages:PYTHONPATH
env VIRTUAL_ENV=/srv/carpentry/venv


script
    eval `ssh-agent -s`
    ssh-add -k
    exec /srv/carpentry/venv/bin/carpentry workers
end script
