description     "CARPENTRY WEB"

start on (started networking)

respawn
respawn limit 5 60

env CARPENTRY_CONFIG_PATH=/etc/carpentry.yml
env CARPENTRY_HTTP_HOST=0.0.0.0
env CARPENTRY_REDIS_HOST=localhost
env CARPENTRY_SERVER_URL={{ full_server_url }}
env CARPENTRY_GITHUB_CLIEND_ID={{ carpentry_github_client_id }}
env CARPENTRY_GITHUB_CLIENT_SECRET={{ carpentry_github_client_secret }}
env PATH=/srv/carpentry/venv/bin:$PATH
env PYTHONPATH=/srv/carpentry/venv/lib/python2.7/site-packages
env VIRTUAL_ENV=/srv/carpentry/venv

script
  exec /srv/carpentry/venv/bin/gunicorn carpentry.wsgi:application --bind 0.0.0.0:{{ carpentry_http_port }} --log-level debug --workers={{ carpentry_web_processes }}
end script