description     "Cassandra Master"

start on (started networking)

respawn
respawn limit 5 60

pre-stop script
         exec docker stop carpentrycassandra && \
         sleep 2 && \
         docker kill -s 9 carpentrycassandra && \
         sleep 3 && \
         docker rm -f carpentrycassandra
end script

exec docker run \
        --rm \
        --name carpentrycassandra \
        -e CASSANDRA_LISTEN_ADDRESS=localhost \
        --net=host \
        -p 9160 \
        -p 9042 \
        -u root \
        -v /srv/carpentry/data:/var/lib/cassandra/data \
        -v /var/log \
        cassandra
