description     "Cassandra Master"

start on (started networking)

respawn
respawn limit 5 60


exec docker run --name jacicassandra -p 9160 -p 9042 -u root -v /srv/jaci/data:/var/lib/cassandra/data cassandra
