description     "JACI Web"

start on starting cassandra
stop on stopped cassandra

respawn
respawn limit 5 60

exec docker run -p {{ jaci_http_port }} --rm --net=host -v /srv/jaci -e JACI_CASSANDRA_HOST=localhost -e JACI_REDIS_HOST=localhost gabrielfalcao/jaci-web jaci-web-run.sh --bind {{ jaci_http_hostname }}:{{ jaci_http_port }} --log-level debug --workers={{ jaci_web_processes }}
