<navbar />

<div class="container"  ng-controller="BuildController">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>
          <a ng-href="#/builder/{{builder.id}}">{{ builder.name }}</a>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ng-cloak" ng-class="'panel panel-'+build.css_status" ng-show="!html_output">
        <div class="panel-heading">
          <h3 class="panel-title" ng-show="build.commit" id="panel-title">please wait</h3>
        </div>
        <div class="panel-body">
          <h5>loading output...</h5>
        </div>
      </div>

      <div class="ng-cloak" ng-class="'panel panel-'+build.css_status" ng-hide="!html_output">
        <div class="panel-heading">
          <h3 class="panel-title ng-cloak" ng-show="build.commit" id="panel-title">commit {{ build.commit }}</h3>
          <h4 class="ng-cloak" ng-show="build.author_name">by {{ build.author_name }} ({{ build.author_email }})</h4>
          <h5 class="ng-cloak" ng-show="build.commit">branch {{ build.branch }}</h5>
        </div>
        <div class="panel-body">
          <pre hljs scroll-glue style="overflow-y: auto;max-height: 640px; background: #222; color: white;"  ng-bind-html="html_output"></pre>
        </div>
      </div>
      <button class="btn btn-warning btn-large" ng-click="go('/builder/' + builder.id)">
        <i class="fa fa-arrow-left"></i> back to builder</button>
        <button ng-if="builder" class="btn btn-large btn-primary" ng-click="go('/builder/'+builder.id+'/edit')">
        <i class="fa fa-pencil"></i> edit builder</button>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
