<navbar />

<div class="container-fluid"  ng-controller="BuildController">
  <div class="page-header">
    <div class="row-fluid">
      <div class="col-lg-12">
        <h1>
          <a ng-href="#/builder/{{builder.id}}">{{ builder.name }}</a>
        </h1>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="ng-cloak" ng-class="'panel panel-'+build.css_status" ng-show="!html_output">
        <div class="panel-heading">
          <h3 class="panel-title" ng-show="build.commit" id="panel-title">please wait</h3>
        </div>
        <div class="panel-body">
          <h5>loading output...</h5>
        </div>
      </div>

      <div class="ng-cloak" ng-class="'panel panel-'+build.css_status" ng-hide="!html_output">
        <div class="panel-heading" ng-if="build.commit">
          <div>
            <dl id="build-details" class="dl-horizontal">
              <dt ng-if="build.author_name">Author Name</dt><dd ng-id="build.author_name">{{ build.author_name }}</dd>
              <dt ng-if="build.author_email">Author Email</dt><dd ng-id="build.author_email">{{ build.author_email }}</dd>
              <dt ng-if="build.commit">Commit Hash</dt><dd ng-id="build.commit">{{ build.commit }}</dd>
              <dt ng-if="build.commit_message">commit message</dt><dd ng-if="build.commit_message">{{ build.commit_message }}</dd>
              <dt ng-if="build.docker_status.status">docker</dt><dd ng-id="build.docker_status.status">{{ build.docker_status.status }} <code ng-if="build.docker_status.id">{{ build.docker_status.id }}</code> </dd>
              <dt ng-if="build.docker_status.stream"></dt><dd ng-id="build.stream.stream">{{ build.docker_status.stream }}</dd>
              <dt ng-if="build.docker_status.progress"></dt><dd ng-id="build.progress.progress">{{ build.docker_status.progress }}</dd>
            </dl>
          </div>
        </div>
        <div class="panel-body">
          <pre scroll-glue style="overflow-y: auto;max-height: 640px; background: #222; color: white;"  ng-bind-html="html_output"></pre>
          <p ng-if="build.docker_status"><strong class="text-info">docker status</strong></p>
          <p ng-if="build.docker_status.status"><strong class="text-warning">{{ build.docker_status.status }}</strong></p>
          <p ng-if="build.docker_status.progress"><strong class="text-warning">{{ build.docker_status.progress }}</strong></p>
          <p ng-if="build.docker_status.stream"><strong class="text-success">{{ build.docker_status.stream }}</strong></p>

        </div>
      </div>
      <button class="btn btn-warning btn-large" ng-click="go('/builder/' + builder.id)">
        <i class="fa fa-arrow-left"></i> back to builder</button>
        <button ng-if="builder" class="btn btn-large btn-primary" ng-click="go('/builder/'+builder.id+'/edit')">
          <i class="fa fa-pencil"></i> edit builder</button>
          <button ng-if="builder" class="btn btn-large btn-info" ng-click="triggerBuild(builder)">
            <i class="fa fa-play-circle"></i> rebuild now

    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
