<navbar />
<div class="container" ng-controller="DockerController">
  <div class="row">
    <div class="col-lg-12">
      <img src="/assets/img/docker-logo.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Images</h2>
      <table class="table">
        <thead>
          <tr>
            <th>tag</th>
            <th>id</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody ng-repeat="image in dockerImages">
          <tr class="warning">
            <td>
              <strong>{{ image.RepoTags[0] }}</strong>
            </td>
            <td>{{ image.Id }}</td>
            <td>
              <button class="btn btn-xs btn-warning" ng-click="removeImage(image)">
                <i class="fa fa-recycle"></i>
Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>Containers</h2>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>image</th>
            <th>status</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody ng-repeat="container in dockerContainers">
          <tr class="info">
            <td>{{ container.Names[0] }}</td>
            <td>{{ container.Image }}</td>
            <td>{{ container.Status }}</td>
            <td>
              <button class="btn btn-xs btn-warning" ng-click="stopContainer(container)">
                <i class="fa fa-stop"></i>
Stop</button>
                <button class="btn btn-xs btn-danger" ng-click="removeContainer(container)">
                  <i class="fa fa-recycle"></i>
Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
<br />
<br />
