<div class="container-fluid">
  <div class="row">
    <div class="alert alert-{{builder.css_status}} col-xs-2" ng-repeat="builder in builders" ng-if="builder.last_build.author_name">
      <a style="color:white; text-decoration:none;" ng-href="#/builder/{{builder.id}}/build/{{builder.last_build.id}}">

        <img style="float:left;" class="avatar img-circle" width="200" height="200" ng-show="builder.last_build.author_gravatar_url" ng-src="{{builder.last_build.author_gravatar_url}}?s=200" alt="{{ builder.last_build.author_name }}" />
        <div style="float:right;">
        <h3>{{ builder.name }}</h3>
        <p ng-if="builder.last_build.author_name"><strong>Author Name</strong>&nbsp;<span ng-if="builder.last_build.author_name">{{ builder.last_build.author_name }}</span></p>
        <p ng-if="builder.last_build.author_email"><strong>Author Email</strong>&nbsp;<span ng-if="builder.last_build.author_email">{{ builder.last_build.author_email }}</span></p>
        <p ng-if="builder.last_build.commit"><strong>Commit Hash</strong>&nbsp;<span ng-if="builder.last_build.commit">{{ builder.last_build.commit|truncate:8 }}</span></p>
        <p ng-if="builder.last_build.commit_message"><strong>commit message</strong>&nbsp;<span ng-if="builder.last_build.commit_message">{{ builder.last_build.commit_message }}</span></p>

        </div>
      </a>
    </div>

  </div>
</div>
