<navbar />

<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>Docker Images</h1>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>tag</th>
        <th>id</th>
        <th>parent id</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody ng-repeat="image in dockerImages">
      <tr>
        <td>{{ image.RepoTags[0] }}</td>
        <td>{{ image.Id }}</td>
        <td>{{ image.ParentId }}</td>
        <td>
          <button class="btn btn-danger" ng-click="removeImage(image)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
